__pycache__/
*.py[codz]
.pytest_cache/
.coverage*
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/
.env
.envrc
.venv
env/
venv/
__pypackages__/
output/
reports/
.cursorignore
.cursorindexingignore
/data/*
!/data/videos/
*.json
